
body{
    background-color:white ;
    font-family: 'Lora', serif;
}

.logo{
    width: 54%;
}

li.nav-item:hover{
    background-color: #8DC63D;
    margin:4px;
}

li.nav-item:hover{
    font-weight: 600;
}

.nav-link{
    color: #8DC63D!important; 
    font-weight: 600;
    font-size: 1.2em;
}
.nav-link:hover{
    color: white!important;
 
}

  /*accueil*/ 
.carousel-item img{
    height: 30%;
    width: auto;
}
.h3-responsive{
    font-size: 70px;
    color: #0E1015;
    font-weight: bold;
}
.voyage1{
    font-size: 50px;
    font-weight: bold;
    color: #C67F1E;
}
.ravioli{
    font-size: 40px;
    color: #BD4B80;
}
.voyage2{
    font-size: 50px;
    font-weight: bold;
    color: #610E04;
}
.hotpot{
    font-size: 40px;
    color: #B72A29;
}
.voyage3{
    font-size: 50px;
    font-weight: bold;
    color: #BE3611;
}
.duck{
    font-size: 40px;
    color: #E87502;
}
h2{
    font-size: 30px;
    color: #87D0E3;
}

h3{
    font-size: 30px;
    color: #87D0E3;
}
p{
    font-size: 20px;
}

.carousel-caption{
    background-color: rgba(255, 255, 255,0.6);
}

/*specialité*/
h2{    
    font-weight: bold;     
}

h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

h5{
font-size: 30px;
font-weight: bold;

}

.text{
    font-size: 20px;
    
}

/*circuit*/

.jumb{
    background: url('../images/lotus.jpg');
    background-size: cover;
    text-align: center;
    height: 40em;

}

.fas{
    color: yellow;
}

.display-4{
    color: white;
    font-size: 50px;
}
.display-3{
    color: yellow;
    font-size: 50px;
}

.lead{
    color: white;
    font-size: 30px;
    padding: 20px;

}

.photos{
    margin: 180px;
    margin-top: 200px;

}

/*blog*/

.block-article-wide {
    background-color: white;
    padding: 10px;
    margin: 10px 0px;
}

.block-article {
    background-color: white;
    padding: 10px;
    margin: 10px 0px;
    min-height: 465px;
}
.Quanjude{
    padding:23px;
}
/*contact*/
.button{
    text-align: center;
    }

.panda{
    background: url("/images/panda.jpg") no-repeat;
    color: white;
    background-size:cover;
    background-attachment: fixed;
}
.contact{
    font-size: 25px;
}
.text-center{
    color:white;
}
.container-fluid{
padding: 50px;
}
/*footer*/
footer{
    background-color: #87D0E3;
    height: 100px;
    text-align: center;
    color: #30616d;
    }
.icon a:hover{
    color: #30616d;

}
li{
    display: inline;
    list-style: none;
}

